body {
	background-image: url("/img/stars.gif");
	background-repeat: repeat;
	color: white;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}